.featured{
    height: 100vh;
    
}
.feature-shadow-vertical{
    background: linear-gradient(to top, #111 10%, transparent);
    position: absolute;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -1px;
    height: 14.7vw;
    width: 100%;
}
.featured-shadow-horizon{
    width: inherit;
    position: relative;
    height: inherit;
    background: linear-gradient(to right,#111 10%,transparent 90%);
}
.featured-box{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 30%;
}
.featured-name{
    font-weight: bold;
    font-size: 5rem;
}
.featured-info{
    display: flex;
}
.featured-points{
    color: green
}
.margin-right{
    margin-right: 1em;
}
.featured-description{
    color:#e5e5e5;
    margin: 1em 0 1.5em 0;
    width: 600px;
    font-size: 1.3rem;
    text-align: justify;
   
}
.featured-genres{
    color:#e5e5e5;
    font-weight: 300;
    font-size: 20px;
}
.featured-buttons{
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}
.featured-buttons a{
    text-decoration: none;
    padding: .9em 1.5em;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 1em;
    transition: all 0.2s ease-in;
}
.watch{
    background-color: #fff;
    color: #111;
    opacity: 1;
}

.myList{
    color: #fff;
    background-color: #333;
    opacity: 1;
}
.watch:hover, .myList:hover{
    opacity: 0.7;
}