nav{
    width: 100%;
    padding: 0 5em;
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    top:0;
    background: transparent;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 10%, transparent 90%);
    z-index: 6;
}
.logo{
    width: 100px;
}
.logo img{
    width: 100%;
}
.navegacao{
    width: 100%;
}
.lista{
    width: inherit;
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    color:#e5e5e5;
    margin-right: 1em;
}
a:hover li{
    color: #fff;
}
.config{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: aqua;
}
.avatar{
    width: 40px;
}
.avatar img{
    width: 100%;
    cursor: pointer;
}