.movieRow{
    margin-bottom: 30px;
    position: relative;
    top: -7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movieRow h2{
    margin-left: 30px;
}
.movieRow-listarea {
    overflow-x: hidden;
    padding: 30px;
}
.movieRow-item{
    display: inline-block;
    width: 150px;
}
.movieRow-item img{
    cursor: pointer;
    width: 100%;
    transform: scale(0.9);
    transition: 0.2s ease;
}
.movieRow-item img:hover{
    transform: scale(1);
}
.seta{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 60%;
    width: 40px;
    transform: scale(0.9);
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(50%,5%);
    opacity: 0;
    transition: .2s all ease-in-out;

}
.movieRow-list{
    transition: all ease-in 0.2s;
}
.seta:hover{
    background-color: rgba(36, 36, 36, 0.5);
}
.right{
    right: 0;
}
.movieRow:hover .left,
.movieRow:hover .right{
    opacity: 1;
}
@media (max-width: 950px){
    .movieRow h2{
        font-size: 1rem;
    }
    .movieRow-item{
        display: inline-block;
        width: 100px;
    }
}
@media (max-width: 607px){
    .movieRow h2{
        font-size: .9rem;
    }
    .movieRow-listarea {
        overflow-x: hidden;
        padding: 0 5%;
    }
}